.nav-ui li{
  display: inline-block;
  padding: 10px;
}
.nav-ui li a{
color: white;
padding: 5px;
text-decoration: none;
}
.nav-ui {
  margin: 0px;
  background-color: thistle;
  padding: 0;
  text-decoration: none;
}
.inputBox{

  display: block;
  margin: 20px;
  padding: 5px;
  width: 300px;
  border: 1px solid skyblue;
}
.product{
  margin-left: 30%;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding:5px;
  width:150px
}
.product-list ul{
  margin: 0;
}
.add-button,.update-button{
  margin:25px;
  padding:10px;
  width:100px;
  background-color:green;
  border:1px solid ;
  cursor:pointer
}
.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: thistle;
}